
/**
 * Basic HTML tag definitions
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background: #fff;
	font-family: $font-sans;
}

a {
	text-decoration: none;
}

a:hover {
	color: $higlight-text;
}

ul {
	li {
		list-style-type: none;
	}

	li::before {
		position: relative;
		top: -7px;
		display: inline-block;
		content: " ";
		width: 2em;
		height: 1px;
		margin: 0 2em 0 0;
		background: #000;
	}
}


mark {
	border-bottom: 1px dashed #fff;
	padding-bottom: 3px;
	background: none;
	color:$higlight-text;
	font-style: italic;
	cursor: help;
}

::selection {
	color: $higlight-text;
	background: darken( $header-bg, 5 );
}


/**
 * HEADINGS
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $font-display;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}