
/**
 * Basic HTML tag definitions
 */

body{
	background: #F7F3EA;
	margin: 0 2rem;
	font-family: $font-sans;
}

a {
	text-decoration: none;
	border-bottom: 1px $header-bg dotted;
}

a:hover {
	color: $higlight-text;
}

ul{
	li {
		list-style-type: none;
	}

	li::before {
		position: relative;
		top: -7px;
		display: inline-block;
		content: " ";
		width: 2em;
		height: 1px;
		margin: 0 2em 0 0;
		background: #000;
	}
}


mark{
	border-bottom: 1px dashed #fff;
	padding-bottom: 3px;
	background: none;
	color:$higlight-text;
	font-style: italic;
	cursor: help;
}

::selection {
	color: $higlight-text;
	background: darken( $header-bg, 5 );
}