
article.modal {
    position: fixed;
    left: 3rem;
    top: 3rem;
    bottom: 3rem;
    right: 3rem;
    background: #fff;
    box-shadow: 0 0 3rem rgba(0,0,0,0.35);
    padding: 1rem 3rem 3rem 3rem;
    transition: all 0.5s ease;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
    overflow: hidden;

    h1 {
        margin-bottom: 1rem;
    }

    .content {
        @include grid(1fr 1fr);

        img {
            width: 100%;;
        }

        .description {
            height: calc(100% - 6rem);
            overflow: auto;
        }
    }

    .close {
        font-family: 'salomeregular';
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        font-size: 4rem;
        line-height: 1rem;
        cursor: pointer;
    }
}

body.open {
    article {
        opacity: 1;
        transform: scale(1);
    }

    main {
        filter: blur(3px);
    }
}