/**
 * Main entry point
 */
@import 'variables';
@import 'defaults';
@import 'responsive';

header {
	padding: 6rem;
	background: #F4A31E;

	h1 {
		background: #000;
		color: #F4A31E;
		line-height: 3rem;
		font-size: 4rem;
		padding-top: 2rem;
	}
}
