/**
 * Main entry point
 */
@import 'variables';
@import 'defaults';
@import 'responsive';

header {
	h1 {
		background: #000;
		color:rgb(255, 238, 0);
		line-height: 3rem;
		font-size: 4rem;
		margin: 0;
		position: absolute;
		left: 2rem;
		top: 2rem;
	}
}
