
section.about.slide {
    background: #fff;
    flex-direction: row;
    margin: auto;
    align-items: stretch;

    h1 {
        font-size: 8rem;
    }

    article {
        padding: 10rem 0 0 2rem;

        p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
}