
section.about {
    @include grid(1fr 2fr);

    background: #fff url(t.jpg) no-repeat left bottom;
    background-size: 40%;

    h1 {
        font-size: 8rem;
    }

    article.introduction {
        padding-top: 10rem;

        p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
}