
section.hero {
    padding: 0;

    h1 {
		font-size: 5rem;
        font-weight: normal;
        font-family: $font-display;
		color:rgb(255, 255, 255);
		line-height: 1.5em;
		margin: 0;
		padding: 2rem;
		position: absolute;
		left: 2rem;
		top: 15rem;
		will-change: transform;
		transform: translateZ(0);

		span {
			display: block;
			line-height: 1em;
			font-size: .535em;
		}
	}

    @media (max-width: 980px) {

        h1 {
            font-size: 3rem;
            line-height: 4rem;
		}
	}
}
