
section.projects {
    @include grid(1fr 1fr);

    background: #000;
    color: #fff;
    padding-bottom: 4rem;

    h1 {
        grid-column: span 2;
        text-align: center;
        font-size: 8rem;
        line-height: 12rem;
    }

    img {

        width: 100%;
        cursor: pointer;
    }

    .project {
        @include overlay();
        margin-bottom: 2rem;

        h1 {
            display: none;
            font-size: 2rem;
            line-height: 4rem;
            margin-bottom: 0.5rem;
            text-align: left;
        }
    }
}