
section.projects {
    @include grid(1fr 1fr);

    background: #000;
    color: #fff;
    padding-bottom: 4rem;

    h1 {
        grid-column: span 2;
        text-align: center;
        font-size: 8rem;
        line-height: 12rem;
    }

    img {

        width: 100%;
        cursor: pointer;
    }

    .project {
        @include overlay();
        margin-bottom: 2rem;

        h1 {
            position: absolute;
            z-index: 2;
            top: calc(50% - 1.25rem);
            width: 100%;
            opacity: 0;
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 0.5rem;
            text-align: center;
            transition: all 1s ease;
            font-family: $font-sans;
        }

        &:hover {
            h1 {
                opacity: 1;
            }
        }
    }

    @media (max-width: 800px) {
        display: block;
        padding: 2rem;
        grid-gap: 0;

        h1 {
            font-size: 6rem;
            line-height: 10rem;
        }
    }
}