
section.hero {
    padding: 0;
	display: flex;
	align-items: center;

	canvas {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

    h1 {
		font-size: 5rem;
        font-weight: normal;
        font-family: $font-display;
		color:rgb(255, 255, 255);
		line-height: 5rem;
		margin: 0;
		padding: 2rem;
		will-change: transform;
		transform: translateZ(0);
		z-index: 2;

		span {
			display: block;
			line-height: 4rem;
			font-size: .535em;
		}
	}

	.show-more {
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9IjIzLjEsMzQuMSA1MS41LDYxLjcgODAsMzQuMSA4MS41LDM1IDUxLjUsNjQuMSAyMS41LDM1IDIzLjEsMzQuMSAiLz48L3N2Zz4=');
		background-size: 100%;
		filter: invert(1);
		width: 4rem;
		height: 4rem;
		display: block;
		position: absolute;
		left: calc( 50% - 2rem );
		bottom: 1rem;
		z-index: 2;
		cursor: pointer;
		transition: transform 0.3s ease;

		&:hover {
			transform: translateY(5%);
		}
	}

    @media (max-width: 980px) {

        h1 {
            font-size: 3rem;
            line-height: 4rem;
		}
	}
}
